@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:wght@100;400&display=swap');

.App {
  min-height:  100vh;
  font-family: 'Merriweather', serif;
  font-size: 12px;
}

.visible {
  display: block;
}
.hide {
  display: none,
}

.error {
  width: 100%;
  height: auto;
  display: flex;
  background: red;
  color: white;
  padding: 15px 5px;
  margin-bottom: 15px;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}